$faded_yellow: #fff766;
$light_yellow: #FDEC00;
$yellow: #F4DD08;
$dark_yellow: #e6cc00;
$yellow_text: #e0c708;
$yellow_bg: #dac107;
$grey: #403F45;
$light_grey: #696675;
$dark: rgb(33, 33, 33);
$light_dark: rgba(33, 33, 33, 0.711);