@import 'colors';

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    >svg {
        font-size: 15rem;
        color: $dark_yellow;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.3;
    }

    >div {
        font-size: 2rem;
    }
}